input:-webkit-autofill {background-color: #c19373 !important;background-image: none !important;color: #fff !important; -webkit-box-shadow: 0 0 0px 1000px #c19373 inset !important;}
input:-moz-placeholder{ color: #fff; }   
input:-ms-input-placeholder{ color: #fff;}   
input::-webkit-input-placeholder{ color: #fff; }  
body{margin:0;}
.denlu{ background:url(../images/indexback.jpg) no-repeat 0px 0px;background-size:100% ;background-position:center center; position:relative;font-size:62.5%; font-family:'Microsoft Yahei'; overflow:hidden}
.denlu_logo{width:90%;margin-top:55px;margin-left:50px}
.denlu_xia{ position:absolute;bottom:0;margin-bottom:60px;left:0;width:23%}
.cp-time-p{ color:#BACBD1;font-size: 18px;position:absolute;bottom:0;margin-bottom:30px;left:0;width:50%;padding-left: 4%;}

.denlu_box{ position:absolute;top:52%;width:550px;height:370px;margin-top:-190px;left:50%;margin-left:80px; background: url(../images/denlu_kuang.png);border-radius:4px}
.zhanghao_box,.mima_box,.btn_box,.liValidationCode{width:380px; margin:auto;}
.liValidationCode,.mima_box{ position:relative;}
.yzm{position:absolute;top:37px; right:0;}
.zhanghao_box{margin-top:80px;}
.mima_box{margin-top:30px}
#dv-reme-box{margin-top:35px;font-size:14px;margin-left:80px;}
.btn_box{margin-top:30px}
.denlu_icon{ float:left;width:23px;margin-top:6px}
.denlu_title{margin-left:4px; float:left;font-size:2.3em;color:#12779b;margin-right:25px;margin-top:2px}
.denlu_search_input{ border:none;height:34px;width:260px;border-radius:4px;color:#fff;font-size:1.6em;padding-left:20px;background-color:#1898c5;font-size:1.6em; letter-spacing:2px;border:0;outline:none; }
:focus {outline: none;}
input::-webkit-input-placeholder {color:#f4f4f4;}
.denlu_search-btn{width:184px; border:none;height:40px;font-size:2.2em; font-family:'Microsoft Yahei'; text-align:center; line-height:40px;}
.denlu_btn_chong{ float:right;background:#82bcf5;color:#fff;border-radius:4px; cursor: pointer}
.denlu_btn_den{ float:left;background:#77b662;color:#fff;border-radius:4px; cursor: pointer}

.denlu_btn_chong:hover{background:#61a9ef}
.denlu_btn_den:hover{background:#5cbb3e;}



@media(max-width:1300px){
	.denlu_box{zoom:0.85;margin-top:-160px}

	}
	
	@media(max-width:1100px){
	.denlu_box{zoom:0.85;margin-top:-140px;margin-left:0px;zoom:0.7 }

	}